body{
  background-color: #303030;
  margin: 0;
}
#backgroundIframe{
  background-attachment: fixed;  
  position:fixed; 
  left:0; 
  width:100%; 
  top:0; 
  height:100%;
  z-index: -10;
  margin-top: 0;
}
header{
  text-align: left;
  color:#FFFFFF ;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
}
h1{
  margin-top: 5%;
  margin-left: 5%;
  font-size: 5vw;
  text-shadow: 0 0 100px rgb(0, 0, 0);
}
#hithere{
  margin-top: 0%;
  font-size: 3vw;
}
#introText{
  text-align: left;
  text-emphasis: none;
  width: 70%;
  margin-top: 5%;
  font-size: 16pt;
}
#goodlookin{
  float: right;
  width: 25%;
  border: 3px solid #545E75;
}
@media screen and (max-width: 1300px){
  #middlepart{
    font-family: "Open Sans", sans-serif;
    font-size: 16pt;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 779px;
    background-color: rgba(0, 0, 0, .9);
    padding-top: 1px;
    margin-top: -1px;
  }
  #kupe{
    background-image:url(/images/Small/Kupe_klein.png);
    background-position: center;
  }
  #sideeffects{
    background-image:url(/images/Small/sideeffects_klein.png);
    background-position: center;
  }
  #curruption{
    background-image:url(/images/Small/corruption_klein.png);
    background-position: center;
  }
  #adventure{
    background-image:url(/images/Small/adventure_klein.png);
    background-position: center;
  }
  #ksda{
    background-image:url(/images/Small/KSDA_klein.png);
    background-position: center;
  }
  #internity{
    background-image:url(/images/Small/iternity_klein.png);
    background-position: center;
  }
  #rwth{
    background-image:url(/images/Small/RWTH_klein.png);
    background-position: center;
  }
  #iframeInAcc{
    width: 700px;
    height: 700px;
    
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1300px){
  #middlepart{
    font-family: "Open Sans", sans-serif;
    font-size: 16pt;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 1167px;
    background-color: rgba(0, 0, 0, .9);
    padding-top: 1px;
    margin-top: -1px;
  }
  #kupe{
    background-image:url(/images/Medium/Kupe_mittel.png);
    background-position: center;
  }
  #sideeffects{
    background-image:url(/images/Medium/Sideeffects_mittel.png);
    background-position: center;
  }
  #curruption{
    background-image:url(/images/Medium/corruption_mittel.png);
    background-position: center;
  }
  #adventure{
    background-image:url(/images/Medium/Adventure_mittel.png);
    background-position: center;
  }
  #ksda{
    background-image:url(/images/Medium/KSDA_mittel.png);
    background-position: center;
  }
  #internity{
    background-image:url(/images/Medium/iternity_mittel.png);
    background-position: center;
  }
  #rwth{
    background-image:url(/images/Medium/rwth_mittel.png);
    background-position: center;
  }
  #iframeInAcc{
    width: 1060px;
    height: 700px;
    
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1600px){
  #middlepart{
    font-family: "Open Sans", sans-serif;
    font-size: 16pt;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 1467px;
    background-color: rgba(0, 0, 0, .9);
    padding-top: 1px;
    margin-top: -1px;
  }
  #kupe{
    background-image:url(/images/Big/Kupe_gro.png);
    background-position: center;
  }
  #sideeffects{
    background-image:url(/images/Big/Sideeffects_gro.png);
    background-position: center;
  }
  #curruption{
    background-image:url(/images/Big/corruption_gro.png);
    background-position: center;
  }
  #adventure{
    background-image:url(/images/Big/Adventure_gro.png);
    background-position: center;
  }
  #ksda{
    background-image:url(/images/Big/KSDA_gro.png);
    background-position: center;
  }
  #internity{
    background-image:url(/images/Big/iternity_gro.png);
    background-position: center;
  }
  #rwth{
    background-image:url(/images/Big/RWTH_gro.png);
    background-position: center;
  }
  #iframeInAcc{
    width: 1320px;
    height: 800px;
    
    margin-right: auto;
    margin-left: auto;
  }
}
#accordion-header{
  align-self: center;
  color: #FFFFFF;
  font-size: 4vw;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}
#word{
  word-wrap: break-word;
}
#accordion1 .ui-accordion-header{
  height: 15vh;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

#accordion1 .ui-accordion-content{
  background-image:none;
  margin-top: 0%;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
}
#accordion2 .ui-accordion-header{
  height: 15vh;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

#accordion2 .ui-accordion-content{
  font-size:14px;
  background-image:none;
  margin-left: 5%;
  margin-right: 5%;
}
#accordion3 .ui-accordion-header{
  height: 15vh;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

#accordion3 .ui-accordion-content{
  font-size:16px;
  background-image:none;
  margin-left: 5%;
  margin-right: 5%;
}
