body{
  background-color: #23395B;
  font-family: "Arial", sans-serif;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 1000px;
}
header{
  font-family: 'Arial';
  text-align: left;
  color:#FFFFFF ;
  margin-bottom: 20%;
}
h1{
  margin-top: 10%;
  text-shadow: 0 0 100px rgb(0, 0, 0);
}
#hithere{
  margin-top: 20%;
}
#introText{
  text-align: left;
  text-emphasis: none;
  width: 70%;
  margin-top: 10%;
}
#goodlookin{
  float: right;
  width: 25%;
  border: 3px solid #545E75
  ;
}
#kupe{
  background-image:url(/images/KUPE.png);
  background-position: center;
  background-size: cover;
}
#sideeffects{
  background-image:url(/images/Sideeffects.png);
  background-position: center;
  background-size: cover;
}
#curruption{
  background-image:url(/images/Corruption.png);
  background-position: center;
  background-size: 100% 100%;
}
#adventure{
  background-image:url(/images/aaAdventure.png);
  background-position: center;
  background-size: 100% 100% ;
}
#ksda{
  background-image:url(/images/KSDA.png);
  background-position: center;
  background-size: cover;
}
#internity{
  background-image:url(/images/Internity.png);
  background-position: center;
  background-size: 100% 100%;
}
#rwth{
  background-image:url(/images/rwth.png);
  background-position: center;
  background-size: 100% 100%;
}
#accordion-header{
  align-self: center;
  color: #FFFFFF;
  font-size: 250%;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}
#accordion1 .ui-accordion-header{
  height: 15vh;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

#accordion1 .ui-accordion-content{
  font-size:14px;
  background-image:none;
}
#accordion2 .ui-accordion-header{
  height: 15vh;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

#accordion2 .ui-accordion-content{
  font-size:14px;
  background-image:none;
}
#accordion3 .ui-accordion-header{
  height: 15vh;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

#accordion3 .ui-accordion-content{
  font-size:12px;
  background-image:none;
}